In [14]:
# A Pandas series is like a column in a table . it is 1D array which holds data of any type.

In [15]:
import pandas as pd

In [16]:
data = [1,7,2]
df = pd.Series(data)
df

0    1
1    7
2    2
dtype: int64

In [17]:
# A Pandas series is like a column in a table . it is 1D array which holds data of any type.
df[1]

7

In [18]:
data = [1,7,2]
df = pd.Series(data, index=["x", "y", "z"])
df

x    1
y    7
z    2
dtype: int64

In [19]:
df['x']

1

In [20]:
# you can also use a key or value object like a dictionary, when creating a series.

In [21]:
cal = {
    "day1": 420, 
    "day2": 380, 
    "day3": 390
}
df = pd.Series(cal)
df

day1    420
day2    380
day3    390
dtype: int64

In [22]:
df['day1']

420

In [23]:
result = pd.Series(cal, index=["day1", "day2"])
print(result)

day1    420
day2    380
dtype: int64

In [ ]:
# DataFrame: Data sets in pandas are usually multidimentional tables,, and they re called DataFrames.
# series are like columns and dataframes is the whole table.

In [24]:
data = {"cal": [420, 380, 390], "duration": [50, 40, 45]}
df = pd.DataFrame(data)
df

   cal  duration
0  420        50
1  380        40
2  390        45