In [3]:
import pandas as pd

In [4]:
# Dataframe: it is a 2D data structure like a 2D array with table incl. rows and columns.

In [6]:
data = {
    "cal":[123,456,789],
    "dur":[12,34,56]
}
df = pd.DataFrame(data)
df

   cal  dur
0  123   12
1  456   34
2  789   56

In [ ]:
# Locate row: pandas use the loc attibute to return one or more specified row.

In [8]:
df.loc[1]

cal    456
dur     34
Name: 1, dtype: int64

In [10]:
df.loc[[2,1]]

   cal  dur
2  789   56
1  456   34

In [ ]:
# named Index: with the index arg, you can name your own index

In [11]:
data = {
    "cal":[123,456,789],
    "dur":[12,34,56]
}
df = pd.DataFrame(data, index=["day1", "day2", "day3"])
df

      cal  dur
day1  123   12
day2  456   34
day3  789   56

In [13]:
df.loc["day3"]

cal    789
dur     56
Name: day3, dtype: int64

In [14]:
df.loc[["day2","day3"]]

      cal  dur
day2  456   34
day3  789   56